.progressArr {
    display: flex;
    justify-content: center;
    max-width: 100%;
    flex-wrap: row;
    position: absolute;
    width: 98%;
    padding: 5;
    padding-top: 7;
    align-self: center;
    z-index: 99;
    filter: drop-shadow(0 1px 8px #222);
    
}
